/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
 --title-color: rgba(219, 0, 255, 1);
 --accent-color: rgba(255, 0, 112, 1);
 --bg-image: url('../images/cover-image-dark.png');
 --main-text:rgba(241, 178, 206, 1);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: var(--bg-image);
  
}

.theme-dark .main-title {
  color:var(--accent-color);
}

.theme-dark .main-text {
  color:var(--main-text);
  line-height: 23.5px;
}

.theme-dark .text-decor {
  background: var(--accent-color);
  color: var(--title-decor-color);
  
}

.theme-dark .title-header-decor{
  background: var(--accent-color);
  color: var(--title-decor-color);
 
}

.theme-dark .header__theme-menu-button_active{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  }

.theme-dark  .header__theme-menu-button:hover{
  border: 1px solid rgba(255, 0, 112, 0.4);} 

.theme-dark .header__theme-menu-button:focus-visible{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);}

.theme-dark .decorated-zone::before {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
  border-top: 1px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.theme-dark .record {
  display: block;
  position: absolute;
 
}

.theme-dark .footer::after {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.theme-dark .footer::before {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
.theme-dark a {
  color:var( --main-text);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-dark a:focus-visible {
  border: 1px solid var(--main-text);
}

.theme-dark a:hover {
  text-decoration-color: var(--main-text);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}
.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}