/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --bg-image: url("../images/cover-image-dark.png");
  --main-text: rgba(241, 178, 206, 1);
  --bg-color: #000028;
  --accent-color-bg: #ff0070;
  --title-decor-color: rgba(0, 0, 40, 1);
  --accent-color-hover: rgb(255, 0, 112, 0.4);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: var(--bg-image);
  background-color: var(--bg-color);

  .record {
    display: block;
    position: absolute;
  }
}
