/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0;
  display: grid;
  background-color: #000028;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 10px;
}
.dopamine {
  margin-block-start: 21px;
}

.low-concentrate {
  display: grid;
  padding-block-end: 10px;
  margin-block-start: 51px;
  margin-block-end: 39px;
  gap: 1px;
}

.recomed-concentrate {
  padding-block-start: 0px;
}

header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  align-items: center;
  margin-block-end: 41px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  justify-self: end;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 0px;
  border-top: 1px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  justify-self: start;
  width: 26px;
  height: 24px;
  bottom: 10px;
  left: 0px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.title {
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-family: IBM Plex Mono, sans-serif;
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: var(--weight-bold);
}

.title-decor {
  margin: 0;
  background: var(--accent-color);
  color: var(--title-decor-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  font-weight: var(--weight-bold);
  margin-block-start: 0.px;
}

.title-header-decor {
  margin-block-end: 49px;
  margin-block-start: 39px;
  margin-inline-end: 1px;
}

.main-title {
  margin: 0;
  font-weight: var(--weight-bold);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  padding-block-end: 19px;
  color:var(--accent-color);
}

.main-text {
  margin: 0;
  font-weight: var(--weight-normal);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  color:var(--main-text);
}

.text-decor {
  margin: 0;
  font-weight: var(--weight-normal);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--accent-color);
  color: var(--title-decor-color);
}

.footer-title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.image {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin-block-start: 50px;
}

img {
  width: 355px;
}

footer {
  position: relative;
  display: grid;
  margin-block-start: 42px;
  min-block-size: 667px;
  grid-template-rows: min-content;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.header__theme-menu-list {
  padding-top: 9px;
  float: right;
  list-style: none;
  padding-right: 0px;
}

.header__theme-menu-button {
  padding: 1px 12px;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: var(--weight-normal);
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.record {
  position: absolute;
  top: 11px;
  right: 28px;
}

.record::before {
  content: "REC";
  color: var(--accent-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
}

.record::after {
  position: absolute;
  content: "";
  border: 6px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 5px;
  right: -20px;
}

a {
  text-decoration: none;
  color:var( --main-text);
  text-shadow: 2px 2px 0px var(--accent-color);
}

a:focus-visible {
  outline: none;
  border: 1px solid var(--main-text);
}

a:hover {
border-bottom: 1px solid var(--main-text);
}

.multitasking-low-conc {
  padding-block-end: 21px;
}

.food {
  display: grid;
  gap: 10px;
}

.gadjets {
  padding-block-start: 20px;
  padding-block-end: 3px;
}

.multitasking,
.dopamine,
.multitasking-low-conc,
.gadjets,
.sky,
.music,
.walk,
.good-nutrition,
.books {
  display: grid;
  gap: 9px;
}

.recomend {
  display: grid;
  margin-block-end: 19px;
}

.recomed-concentrate article:not(:last-child) p {
  padding-block-end: 20px;
}

.recomed-concentrate .text-decor {
  margin-bottom: 1px;
}

@media (width >= 768px) {
.header__theme-menu-list {
  padding-block-start: 15px;
  padding-inline-end: 20px;
}

.main-title {
  padding-block-start: 2px;
}

.page {
  padding: 0;
}  

.header {
  min-block-size: 1024px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-block-start: 2px;
  margin-block-end: 59px;
}

.recomed-concentrate article:not(:last-child) p {
  padding-block-end: 0px;
}

.dopamine {
  margin-block-start: 0px;
}

.low-concentrate article:not(:last-child) {
  padding-block-end: 2px;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: auto;
}

.header__theme-menu {
  margin-block-end: 1px;
  grid-column-start: 4;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: auto;
}

.title-header-decor {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-inline-end: 20px;
  margin-block-end: 59px;
}

.section {
  display: grid;
  grid-template-columns: 236px 1fr;
  padding: 0px 20px;
  column-gap: 18px;
  align-items: start;
}

.card-content-low {
   display: grid;
   grid-column-start: 1;
   grid-column-end: 3;
   gap: 17px;
}

.card-content {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  gap: 23px;
}

.gadjets {
  padding-block-start: 2px;
  padding-block-end: 39px;
}

.hard-concentrate {
  padding-block-end: 28px;
}

.recomend {
  margin-block-start: 3px;
  margin-block-end: 0;
}

.card-content-rec {
  gap: 20px;
}
 
.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 192px 230px 318px;
  gap: 20px;
  padding: 0px 19px;
  margin-block-start: 79px;
}

.img-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
} 

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}  

.sunset-img {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
} 

.tape-img {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.ice-cream-img {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.books-img {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.street-img {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
} 

footer {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 1024px;
    justify-content: center;
    align-content: center;
    margin-block-start: 60px;
}

.decorated-zone::after {
  right: 20px;
  top: 20px;
}

.decorated-zone::before {
  left: 20px;
  bottom: 21px;
}

.record {
  top: 21px;
  right: 48px;
}
}

@media (width >= 1024px) {
.header__theme-menu-item {
    display: inline-block;
}

.header {
  min-block-size: 768px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding-block-end: 2px;
  margin-block-end: 59px;
}

.title-header-decor {
  display: grid;
  margin-block-start: 131px;
  margin-inline: 172px;
  margin-inline-end: 20px;
  grid-column-start: 2;
}

.section {
  display: grid;
  grid-template-columns: 1fr 649px;
}

.low-concentrate {
  margin-block-end: 0;
}

.recomed-concentrate {
  margin-block-start: 35px;
}

.card-title {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}

.card-content-low {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: start;
}

.gadjets {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
}

.header__theme-menu-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
  padding-block-start: 20px;
  gap: 12px;
}

.header__theme-menu {
  display: grid;
  grid-column-start: 2;
  grid-column-end: auto;
}

.image {
  grid-template-rows: min-content 260px 315px 433px;
  margin-block-start: 81px;
}

.footer {
    min-height: 768px;
    height: 100vh;
}
}


