/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0;
  display: grid;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding-block-end: 35px;
  align-items: center;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  justify-self: end;
  width: 22px;
  height: 22px;
  top: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  justify-self: start;
  width: 22px;
  height: 22px;
  bottom: 47px;
  left: 0px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.title {
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-family: IBM Plex Mono, sans-serif;
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: var(--weight-bold);
}

.title-decor {
  margin: 0;
  background: var(--accent-color);
  color: var(--title-decor-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  font-weight: var(--weight-bold);
}

.title-header-decor {
  margin-block-end: 69px;
  margin-block-start: 55px;
  margin-inline-end: 4px;
}

.main-title {
  margin: 0;
  font-weight: var(--weight-bold);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  padding-block-end: 20px;
  color:var(--accent-color);
}

.main-text {
  margin: 0;
  font-weight: var(--weight-normal);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  color:var(--main-text);
}

.text-decor {
  margin: 0;
  font-weight: var(--weight-normal);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--accent-color);
  color: var(--title-decor-color);
}

.footer-title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.image {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin-block-start: 46px;
}

img {
  width: 355px;
}

footer {
  position: relative;
  display: grid;
  margin-block-start: 42px;
  min-block-size: 667px;
  grid-template-rows: min-content;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.header__theme-menu-list {
  padding-inline-end: 0px;
  padding-top: 12px;
  float: right;
  list-style: none;
  padding-right: 3px;
}

.header__theme-menu-button {
  padding: 1px 12px;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: var(--weight-normal);
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.hard-concentrate {
  align-items: start;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 18px;
  padding-block-start: 3px;
  margin-block-end: 32px;
}

.footer::after {
  position: absolute;
  content: "";
  justify-self: end;
  width: 22px;
  height: 22px;
  top: 9px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer::before {
  position: absolute;
  content: "";
  justify-self: start;
  width: 22px;
  height: 22px;
  bottom: 12px;
  left: 1px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.record {
  position: absolute;
  top: 12px;
  right: 28px;
}

.record::before {
  content: "REC";
  color: var(--accent-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
}

.record::after {
  position: absolute;
  content: "•";
  color: var(--accent-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 61px;
  top: -34px;
  right: -33px;
}

a {
  text-decoration: none;
  color:var( --main-text);
  text-shadow: 2px 2px 0px var(--accent-color);
}

a:focus-visible {
  outline: none;
  border: 1px solid var(--main-text);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-text);
}

.multitasking-low-conc {
  padding-block-end: 18px;
}

.food {
  display: grid;
  gap: 10px;
  padding-block-end: 18px;
}

.gadjets {
  padding-block-end: 48px;
}

.multitasking,
.dopamine,
.multitasking-low-conc,
.gadjets,
.sky,
.music,
.walk,
.good-nutrition,
.books {
  display: grid;
  gap: 10px;
}

.recomend {
  margin-block-end: 18px;
}

.recomed-concentrate article:not(:last-child) p {
  padding-block-end: 18px;
}

.recomed-concentrate .text-decor {
  margin-bottom: 2px;
}

@media (width >= 768px) {
  .header__theme-menu-list {
    padding-block-start: 15px;
    padding-inline-end: 20px;
  }

  .page {
    padding: 0;
  }

  .header {
    display: grid;
    min-height: 1024px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;

    padding: 0 -8px;
    padding-block-end: 56px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5; 
    grid-row-start: 2;
    grid-row-end: auto; 
  }

  .header__theme-menu {
    grid-column-start: 4;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
  }

  .title-header-decor {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-inline-end: 20px;
    margin-block-end: 74px;
  }

  main {
    display: grid;
    grid-template-columns: 236px 1fr;
    padding: 0px 22px;
    column-gap: 21px;

    align-items: start;
  }

  .low-concentrate {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .hard-concentrate {
    display: grid;
    gap: 18px;
    padding-block-end: 27px;
  }
 
  .low-concentrate .main-text {
    padding-block-end: 2px;
  }

  .gadjets {
    padding-block-end: 77px;
  }

  .image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 192px 230px 318px;
    gap: 20px;
    padding: 0px 19px;
    margin-block-start: 80px;
  }

  .image .title-decor {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .sunset {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .tape {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .ice-cream {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .books {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .street {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  footer {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 1024px;
    justify-content: center;
    align-content: center;
    margin-block-start: 60px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 76px;
  }

  .record {
    top: 21px;
    right: 48px;
  }

  .footer::before {
    bottom: 22px;
    left: 20px;
  }

  .footer::after {
    right: 20px;
    top: 18px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-item {
    display: inline-block;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    min-height: 768px;
    align-items: start;
  }

  main {
    display: grid;
    padding: 0 20px;
    grid-template-columns: 1fr 650px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-header-decor {
    display: grid;
    margin-block-start: 131px;
    margin-inline: 170px;
    margin-inline-end: 22px;
    grid-column-start: 2;
  }

  .low-concentrate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
  }

  .main-title {
    margin-block-start: 2px;
  }

  .header__theme-menu-list {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    padding-block-start: 5px;
    gap: 12px;
  }

  .header__theme-menu {
    display: grid;
    grid-column-start: 2;
    grid-column-end: auto;
  }

  .image {
    grid-template-rows: min-content 260px 315px 433px;
    gap: 20px;
    padding: 0px 19px;
    margin-block-start: 80px;
  }

  .footer {
    min-height: 768px;
    height: 100vh;
  }
}


